@import-normalize;
@import "button.css";
@import "recipe-list.css";
@import "recipe.css";
@import "ingredient-list.css";
@import "recipe-edit.css";

*,
*::before,
*::after {
  font-family: "dank mono", cursive, Verdana, Geneva, Tahoma, sans-serif;
  /* font-weight: bold; */
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  padding: 0;
  margin: 0;
}

.mr-1 {
  margin-right: 10px;
}
